
<header class="section-header">
<section class="header-main border-bottom">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-xl-2 col-lg-3 col-md-12">
				<a href="index.html" class="brand-wrap">
					<img class="logo" src="images/logo3661.png?v=2.0">
				</a> <!-- brand-wrap.// -->
			</div>
			
			 <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->

<nav class="navbar navbar-main navbar-expand-lg border-bottom">
  <div class="container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="index.html">Home</a>
		</li>
        <li class="nav-item">
			<a routerLink="/Mens" routerLinkActive="active">Mens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="display_product.html">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="kids.html">Kids</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="display_product.html">Party Wear</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="sports.html">Sports</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto">
      	  <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
		  <li class="nav-item">
            <a class="nav-link" href="register.html">Register</a>
          </li>
	   </ul>
    </div> <!-- collapse .// -->
  </div> <!-- container .// -->
</nav>
</header> <!-- section-header.// -->


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">




<div class="row">
	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<span class="badge badge-danger"> NEW </span>
				<img src="assets/images/items/men1.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear</a>
					<div class="price-wrap">
						<span class="price">Rs. 967</span> 
						
					</div> <!-- price-wrap.// -->
					
					

					<a href="#" class="btn btn-outline-primary " style="margin-top:10px;"> View Product </a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="assets/images/items/men2.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear</a>
					<div class="price-wrap">
						<span class="price">Rs. 2314</span> 
						
					</div> <!-- price-wrap.// -->
					
				
					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;"> View Product</a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="assets/images/items/men3.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear</a>
					<div class="price-wrap">
						<span class="price">Rs. 2314</span> 
						
					</div> <!-- price-wrap.// -->

					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;"> View Product</a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="assets/images/items/men4.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear </a>
					<div class="price-wrap">
						<span class="price">Rs. 2341</span> 
					
					</div> <!-- price-wrap.// -->
					
					

					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product</a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="assets/images/items/men5.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear</a>
					<div class="price-wrap">
						<span class="price">Rs. 1256</span> 
					
					</div> <!-- price-wrap.// -->
					

					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product </a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="assets/images/items/men6.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear </a>
					<div class="price-wrap">
						<span class="price">Rs. 1700</span> 
					
					</div> <!-- price-wrap.// -->
					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product </a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="assets/images/items/men7.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear </a>
					<div class="price-wrap">
						<span class="price">Rs. 965</span> 
					
					</div> <!-- price-wrap.// -->
					

					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product</a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<img src="assets/images/items/men8.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear </a>
					<div class="price-wrap">
						<span class="price">Rs. 986</span> 
						
					</div> <!-- price-wrap.// -->
					
					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product</a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<span class="badge badge-danger"> NEW </span>
				<img src="assets/images/items/men9.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear </a>
					<div class="price-wrap">
						<span class="price">Rs. 1250</span> 
						
					</div> <!-- price-wrap.// -->
					
					
					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product </a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<span class="badge badge-danger"> NEW </span>
				<img src="assets/images/items/men10.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear</a>
					<div class="price-wrap">
						<span class="price">Rs. 876</span> 
						
					</div> <!-- price-wrap.// -->
					
					
					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product</a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<span class="badge badge-danger"> NEW </span>
				<img src="assets/images/items/men11.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2"> Mens Footwear</a>
					<div class="price-wrap">
						<span class="price">Rs. 780</span> 
						
					</div> <!-- price-wrap.// -->
					
					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product </a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->

	<div class="col-md-3">
		<figure class="card card-product-grid">
			<div class="img-wrap"> 
				<span class="badge badge-danger"> NEW </span>
				<img src="assets/images/items/men12.jpg">
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
					<a href="#" class="title mb-2">Mens Footwear </a>
					<div class="price-wrap">
						<span class="price">Rs. 560</span> 
						
					</div> <!-- price-wrap.// -->
					

					<a href="#" class="btn btn-outline-primary" style="margin-top:10px;">View Product</a>	
					
			</figcaption>
		</figure>
	</div> <!-- col.// -->
</div> <!-- row end.// -->






</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->




<!-- ========================= SECTION SUBSCRIBE END// ========================= -->


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer bg-secondary">
	<div class="container">
		

		<section class="footer-bottom text-center">
		
				<p class="text-white">Privacy Policy - Terms of Use - User Information Legal Enquiry Guide</p>
				<p class="text-muted"> &copy 2019 Company name, All rights reserved </p>
				<br>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
